
body{
  background-color: #D8D8D8;
}

.main{
  display: grid;
  grid-template-columns:3fr 1fr ;
  grid-gap:10px;
  margin-top: 20px;
}
.content{
 
  height: 100vh;
}
.sidebar{
  background-color:rgb(102, 150, 240) ;
  height: 100vh;
}